@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 5px 20px;
}

h1{
  font-size: 45px;
}

p{
  font-size: 20px;
  padding-right: 90px;
}

.header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  height: auto;
}

.google_meet{
  width: 150px;
  height: auto;
}

.meet{
  display: inline-block;
  text-decoration: none;
  font-size: 32px;
  color:rgb(126, 120, 120);
  position: absolute;
  padding-left: 5px;
}

.header .section2{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.header .section2 .section2_section1{
  display: flex;
  justify-content: space-between;
}

.section2_section1_content1{
  margin: 20px 0px 20px 20px;
}

.section2_section1_content2{
  margin: 20px 40px 20px 20px;
}

.fa-question-circle, .fa-comment-alt, .fa-cog{
  margin: 0px 20px;
}

.header .section2 .section2_section2{
  display: flex;
  justify-content: space-between;
} 


.header .section2 .section2_section2 .section2_section2_content{
  margin: 20px;
  position: relative;
}

.fa-th{
  position: absolute;
  top: 13px;
  right: 60px;
}

.header .section2 .section2_section2 .section2_section2_content
.photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Header ends */
/* Main CSS starts*/

.main{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0px;
}

.main .container1, .main .container2{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px 50px 30px 30px;
}

.main .container2{
  align-items: center;
}

.main .container1 .button{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.main .container1 .button .btn1{
  border: 1px solid black;
  padding: 10px;
  color: white;
  background: blue;
  border-radius: 5px;
}

.main .container1 .button .btn2{
  border: 1px solid black;
  padding: 10px;
  color: black;
  background: white;
  border-radius: 5px;
  width: 40%;
}

hr{
  margin: 30px 25px 30px 0px;
}

.hr-color{
  border-top: 1px solid lightgrey;
}

.center{
  text-align: center;
  padding: 0px 90px;
}

.circle{
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin: 20px 4px;
  width: 6px;
  border: 0.5px solid rgba(56, 51, 51, 0.199);
}

.circle1{
  background: rgb(57, 57, 221);
}

.circle2{
  background: rgb(184, 176, 176);
}


/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .header{
    position: sticky;
    top:0;
    background-color: white;
  }

  .google_meet{
    width: 100px;
  }
  
  .meet{
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
  }
  
  .fa-question-circle, .fa-comment-alt, .fa-cog{
    margin: 0px 10px;
  }
    
  .header .section2 .section2_section2 .section2_section2_content{
    margin: 10px;
  }
  
  .fa-th{
    top: 10px;
    right: 50px;
  }
  
  .header .section2 .section2_section2 .section2_section2_content
  .photo{
    width: 30px;
    height: 30px;
  }
/* Main CSS */
  .main{
    flex-direction: column;
    padding: 0px 30px;
  }

  .none{
    display: none;
  }
  
  .main .container1, .main .container2{
    width: 100%;
    padding: 0px 50px;
  }
  
  .main .container1{
    margin-top: -50px;
  }
  
  .main .container1 .button{
    flex-direction: column;
  }

  .main .container1 .button .btn1{
    width: 120px;
  }

  .main .container1 .button .btn2{
    width: 180px;
  }

  hr{
    margin: 40px 20px 30px 0px;
  }

  .center{
    text-align: center;
    padding: 0px 10px;
  }

}


/* Large devices (laptops/desktops, 960px and up) */
@media only screen and (min-width: 960px) {
  html {
    font-size: 14px;
  }

  body{
    margin: 5px 20px;
  }

  .header{
    position: unset;
  }

  .fa-question-circle, .fa-comment-alt, .fa-cog{
    margin: 0px 20px;
  }
  
  .header .section2 .section2_section2 .section2_section2_content{
    margin: 20px;
  }
  
  .fa-th{
    top: 13px;
    right: 60px;
  }
  
  .header .section2 .section2_section2 .section2_section2_content
  .photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .main{
    flex-direction: row;
  }

  h1{
    font-size: 35px;
  }
  
  p{
    font-size: 16px;
    padding-right: 60px;
  }
  .none{
    display: block;
  }

  .main .container1,.main .container2{
    margin: 50px 0px;
  }

  hr{
    margin: 30px 25px 30px 0px;
  }

  .center{
    text-align: center;
    padding: 0px 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1{
    font-size: 45px;
  }
  
  p{
    font-size: 20px;
    padding-right: 90px;
  }

}
